/* Подключение шрифтов */
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-ExtraBold"),
        url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-Light"),
        url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"),
        url("../fonts/OpenSans-Light.woff2") format("woff2"),
        url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"),
        url("../fonts/OpenSans.woff2") format("woff2"),
        url("../fonts/OpenSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Глобальные параметры */
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.010em;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);

  border: none;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(#f0c52e 33%, #f0c52e 33%, #f0c52e 66%, #f0c52e 66%);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}


/* Стилизация формы поиска */
.input-search {
  background-color: transparent;
  border: none;
}

.button-search {
  display: none;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.button-search:hover,
.button-search:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

::-webkit-input-placeholder {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.010em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.input-search:hover::-webkit-input-placeholder,
.input-search:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-search:active::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.input-search:hover,
.input-search:focus {
  border-bottom: 2px solid #000000;
}

.input-search:hover + .button-search,
.input-search:focus + .button-search {
  display: block;
}


/* Оформление шапки */
.main-header {
  color: #000000;

  background-image: linear-gradient(#ffffff 40px, rgba(240, 197, 46, 0.5) 40px, rgba(240, 197, 46, 0.5) 100%);
}

.user-nav-list,
.site-nav,
.product-nav {
  list-style: none;
}

.user-nav-list a,
.site-nav a,
.product-nav a {
  color: rgba(0, 0, 0, 1);
}

.site-nav-item > a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.product-nav a {
  line-height: 36px;
}

.user-nav-list a:hover,
.user-nav-list a:focus,
.site-nav a:hover,
.site-nav a:focus,
.product-nav a:hover,
.product-nav a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-list a:active,
.site-nav a:active,
.product-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.user-search {
  color: rgba(0, 0, 0, 0.3);
}

a.user-search:hover,
a.user-search:focus {
  color: rgba(0, 0, 0, 0.6);
}

a.user-search:active {
  color: rgba(0, 0, 0, 1);
}


/* Оформление секции лучшие товары */
.slider-products {
  list-style: none;
}

.slider-item p:first-of-type {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.table-description tr:first-child {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.table-description tr:last-child {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}

.slider-radio {
  list-style: none;
}

/* Оформление секции популярные товары */
.category-product {
  list-style: none;
}

.category-product-title {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.010em;
  font-weight: 800;
  color: #000000;
}

.product-item a {
  background-color: rgba(240, 197, 46, 0.5);
}

.product-item a:hover {
  background-color: rgba(240, 197, 46, 1);
}

.product-item a:active img,
.product-item a:active h3 {
  opacity: 0.3;
}


/* Оформление секции сервисы */
.services {
  background-image: linear-gradient(#ffffff 0, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.services h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;
}

.service-list {
  list-style: none;
}

.service-button:active {
  color: #f7e184;

  background-image: linear-gradient(#000000 0, #000000 100%);
}

.services-delivery {
  background-image: url("../img/delivery.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.services-warranty {
  background-image: url("../img/warranty.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.services-credit {
  background-image: url("../img/credit.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.services h3 {
  font-size: 47px;
  line-height: 48px;
}


/* Оформление секции Бренды */
.brands-list {
  list-style: none;
}

/* Оформление секции о компании */
.company h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;
}

.transport-list {
  list-style: none;
}

.transport-list-item {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0;
}


/* Оформление секции контакты */
.contacts h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;
}


/* Офотмление подвала */
.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.footer-social {
  list-style: none;
}

.main-footer-logo img:hover,
.main-footer-logo img:focus {
  opacity: 0.6;
}

.main-footer-logo img:active {
  opacity: 0.3;
}

.footer-user-nav-list a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
}

.footer-user-nav-list a:hover,
.footer-user-nav-list a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-nav-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-link,
.address {
  color: #ffffff;
  letter-spacing: 0;
}

.footer-site-nav a {
  color: rgba(255, 255, 255, 1);
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social a:hover,
.footer-social a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social a:active {
  color: rgba(255, 255, 255, 0.1);
}

.htmlacademy img:focus,
.htmlacademy img:hover {
  opacity: 0.6;
}

.htmlacademy img:active {
  opacity: 0.3;
}


/* Оформление заголовка на внутренней странице */
.catalog-title {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.010em;
}

/* Оформление хлебных крошек */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current a {
  color: rgba(0, 0, 0, 1);
}


/* Оформление секции фильтры */
.filters {
  color: #000000;

  background-color: #eeeeee;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.010em;
}

.filters h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
  line-height: 40px;
}

.filter-input:hover + label,
.filter-input:focus + label {

}

.filter-input:active + label {

}

.filter-input:disabled + label {
  color: #a6a6a6;
}



/* Оформление секции каталога */
.catalog h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-list h3 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.010em;
  font-weight: 800;
  color: #000000;
}

.sort-list,
.catalog-list,
.pagination-list {
  list-style: none;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:focus,
.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list span {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.010em;
  font-weight: 300;
}

.button-compare {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.010em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.button-compare:focus,
.button-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  background-color: rgba(0, 0, 0, 0.1);
}

.pagination-list a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:focus,
.pagination-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current a {
  color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-button {
  color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-button:focus,
.pagination-list .pagination-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.pagination-list .pagination-button:active {
  color: rgba(0, 0, 0, 0.2);
}

/* Оформление модального окна с формой */
.modal-contact {
  color: #000000;

  background-color: #ffffff;
}

.contact-label {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0;
}

.contact-item .contact-input {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.contact-item .contact-input:hover {
  background-color: rgba(229, 229, 229, 1);
}

.contact-item .contact-input:focus {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #f0c52e;
}
