/* Подключение шрифтов */
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-ExtraBold"),
        url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-Light"),
        url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"),
        url("../fonts/OpenSans-Light.woff2") format("woff2"),
        url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"),
        url("../fonts/OpenSans.woff2") format("woff2"),
        url("../fonts/OpenSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Глобальные параметры */
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.010em;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

h1, h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;

  background-color: #ffffff;
}

h3 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.010em;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-image: linear-gradient(#ffffff 33%, #f0c52e 33%, #f0c52e 66%, #ffffff 66%);

  border: none;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(#f0c52e 33%, #f0c52e 33%, #f0c52e 66%, #f0c52e 66%);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}


/* Оформление шапки */
.main-header {

}

.user-nav-list,
.site-nav,
.product-nav {
  list-style: none;
}

.user-nav-list a,
.site-nav a,
.product-nav a {
  color: #000000;
}

.site-nav-item > a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.product-nav a {
  line-height: 36px;
}

.user-nav-list a:hover,
.site-nav a:hover,
.product-nav a:hover,
.user-nav-list a:focus,
.site-nav a:focus,
.product-nav a:focus {
  opacity: 0.6;
}

.user-nav-list a:active,
.site-nav a:active,
.product-nav a:active {
  opacity: 0.3;
}

a.user-search {
  opacity: 0.3;
}

a.user-search:hover,
a.user-search:focus {
  opacity: 0.6;
}

a.user-search:active {
  opacity: 1;
}


/* Оформление секции лучшие товары */
.slider-item p:first-of-type {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.table-description tr:first-child {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.table-description tr:last-child {
  font-family: "Open Sans", "Taahoma", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #000000;
}


/* Оформление секции популярные товары */
.product-item a {
  background-color: rgba(240, 197, 46, 0.5);
}
.product-item a:hover {
  background-color: rgba(240, 197, 46, 1);
}
.product-item a:active img,
.product-item a:active h3 {
  opacity: 0.3;
}


/* Оформление секции сервисы */
.services {
  background-color: #e5e5e5;
}

.services-delivery {
  background-color: #e5e5e5;
  background-image: url("../img/delivery.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.services-warranty {
  background-color: #e5e5e5;
  background-image: url("../img/warranty.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.services-credit {
  background-color: #e5e5e5;
  background-image: url("../img/credit.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.services h3 {
  font-size: 47px;
  line-height: 48px;

  background-color: #e5e5e5;
}


/* Оформление секции о компании */
.transport-list-item {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0;
}
