/* Подключение шрифтов */
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-ExtraBold"),
        url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-Light"),
        url("../fonts/Gilroy-Light.woff2") format("woff2"),
        url("../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"),
        url("../fonts/OpenSans-Light.woff2") format("woff2"),
        url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"),
        url("../fonts/OpenSans.woff2") format("woff2"),
        url("../fonts/OpenSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Глобальные параметры */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.010em;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-width: 160px;
  padding: 6px 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  background-image: linear-gradient(transparent 40%,
                                        #f0c52e 40%,
                                        #f0c52e 60%,
                                    transparent 60%);
  border: none;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-image: linear-gradient(#f0c52e 40%,
                                    #f0c52e 40%,
                                    #f0c52e 60%,
                                    #f0c52e 60%);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}


/* Стилизация формы поиска */
.input-search {
  width: 100%;
  height: 50px;
  padding-left: 8px;

  background-color: transparent;
  border: none;
}

.form-wraper {
  display: flex;
  align-items: center;
  width: 440px;
}

.form-wraper .svg-wrapper {
  margin-right: 15px;
}

.button-search {
  display: none;
  padding: 8px 18px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.button-search:hover,
.button-search:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

::-webkit-input-placeholder {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.010em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.input-search:hover::-webkit-input-placeholder,
.input-search:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-search:active::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.input-search:hover,
.input-search:focus {
  border-bottom: 2px solid #000000;
}

.input-search:hover + .button-search,
.input-search:focus + .button-search {
  display: block;
}

/* * {
  border: 1px solid red;
} */

/* Оформление шапки */
.main-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  min-height: 190px;
  margin: 0 auto;
  padding: 22px 60px 50px;

  color: #000000;

  box-sizing: border-box;
  background-image: linear-gradient(#ffffff 40px,
                    rgba(240, 197, 46, 0.5) 40px,
                    rgba(240, 197, 46, 0.5) 100%);
}

.main-header-logo {
  margin-bottom: 8px;
}

.user-nav-list,
.site-nav,
.product-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header .user-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 25px;
}

.main-header .user-nav-item:first-child {
  flex-grow: 1;
}

.main-header .user-nav-item:nth-child(2) {
  margin-right: 217px;
}

.main-header .user-nav-item:nth-child(3) {
  margin-right: 38px;
}

.user-nav-link,
.user-link span {
  margin-left: 8px;
}

.main-header .site-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-header .site-nav-item:first-child {
  flex-grow: 1;
}

.main-header .site-nav-item:nth-child(2) {
  margin-right: 35px;
}

.main-header .site-nav-item:nth-child(3) {
  margin-right: 110px;
}

.user-nav-list a,
.site-nav a,
.product-nav a {
  color: rgba(0, 0, 0, 1);
}

.site-nav-item > a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.site-nav .site-nav-item:first-of-type {
  position: relative;
}

.product-nav {
  position: absolute;
  left: -60px;

  display: none;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 110px;
  width: 1100px;
  padding-top: 10px;
  padding-left: 60px;
  padding-bottom: 40px;

  background-color: #f7e296;
}

.product-nav-item {
  margin-right: 50px;
}

.product-nav-item:nth-child(5) {
  margin-bottom: 30px;
}

.catalog-product-link {
  position: relative;
}

.catalog-product-link::after {
  content: "";

  position: absolute;
  top: 2px;
  right: -30px;

  width: 16px;
  height: 16px;

  opacity: 0.3;
  background: url("../img/plus.svg") center center no-repeat;
}

.site-nav-item-product:hover > .product-nav,
.site-nav-item-product:focus > .product-nav {
  display: flex;
}

.product-nav a {
  line-height: 36px;
}

.user-nav-list a:hover,
.user-nav-list a:focus,
.site-nav a:hover,
.site-nav a:focus,
.product-nav a:hover,
.product-nav a:focus {
  opacity: 0.6;
}

.user-nav-list a:active,
.site-nav a:active,
.product-nav a:active {
  opacity: 0.3;
}

a.user-search {
  color: rgba(0, 0, 0, 0.3);
}

a.user-search:hover,
a.user-search:focus {
  color: rgba(0, 0, 0, 0.6);
}

a.user-search:active {
  color: rgba(0, 0, 0, 1);
}


/* Оформление секции лучшие товары */
.best-products {
  margin-bottom: 100px;
}

.slider-products {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 0,
                                               rgba(240, 197, 46, 0.5) 110px,
                                                           transparent 110px,
                                                           transparent 100%);
}

.wrapper-img {
  width: 560px;
  margin-right: 40px;
  text-align: center;
}

.wrapper-text {
  align-self: flex-start;
  width: 490px;
  padding-top: 80px;
}

.wrapper-text p {
  margin: 0;
  margin-bottom: 18px;
}

.wrapper-text .text-description {
  margin-bottom: 46px;
}

.slider-item p:first-of-type {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;
}

.table-description tr:first-child {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.010em;
  color: #000000;
}

.table-description tr:last-child {
  height: 30px;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}

.table-description td:nth-child(2) {
  min-width: 135px;
}

.table-description td:first-child {
  min-width: 155px;
}

.button-products {
  display: block;
  width: 220px;
  margin-bottom: 50px;
}

.slides-switches {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Оформление секции категории товаров */
.category {
  margin-bottom: 80px;
}

.category-product {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-product-title {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.010em;
  font-weight: 800;
  color: #000000;
}

.category .wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;

  background-color: rgba(240, 197, 46, 0.5);
}

.category-product-item:nth-child(2) .wrapper-img {
  align-items: flex-end;
}

.category-product-item {
  width: 160px;
  margin-right: 40px
}

.category-product-item:last-child {
  margin-right: 0;
}

.category-product-item:hover .wrapper-img{
  background-color: rgba(240, 197, 46, 1);
}

.category-product-item a:active img,
.category-product-item a:active h3 {
  opacity: 0.3;
}


/* Оформление секции сервисы */
.services {
  margin-bottom: 105px;
  min-height: 390px;

  background-image: linear-gradient(#ffffff 0,
                                    #ffffff 100px,
                                    #e5e5e5 100px,
                                    #e5e5e5 100%);
}

.services-wrapper {
  position: absolute;

  display: flex;
  justify-content: space-between;
}

.services-wrapper::before {
  content: "";

  position: absolute;
  top: 0;
  left: 277px;

  width: 7px;
  height: 320px;
  background-color: #000;
}

.services h3 {
  margin-top: 75px;
  margin-bottom: 30px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;
}

.service-list {
  width: 280px;
  margin-top: 83px;
  padding: 0;

  list-style: none;
}

.services .service-item {
  margin-bottom: 28px;
}

.services .service-item:last-child {
  margin-bottom: 0;
}

.service-button {
  width: 160px;
}

.service-button:active {
  width: 100%;
  padding-left: 20px;

  text-align: left;
  color: #f7e184;

  background: #000;
}

.service-inner-wrapper {
  min-width: 770px;
  margin-left: 120px;
}

.service-delivery {
  background-image: url("../img/delivery.svg");
  background-position: top 10px right 75px;
  background-repeat: no-repeat;
}

.service-warranty {
  background-image: url("../img/warranty.svg");
  background-position: top 10px right 75px;
  background-repeat: no-repeat;
}

.service-credit {
  background-image: url("../img/credit.svg");
  background-position: top 10px right 75px;
  background-repeat: no-repeat;
}

.service-delivery-wrapper,
.service-warranty-wrapper,
.service-credit-wrapper {
  width: 460px;
}

.services h3 {
  font-size: 47px;
  line-height: 48px;
}


/* Оформление секции Бренды */
.brands {
  margin-bottom: 100px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  width: 260px;

  text-align: center;
}


/* Обёртка для контактов и о компании */
.wrapper-contacts {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto 82px;
  padding: 0 20px;
}

/* Оформление секции о компании */
.company {
  position: relative;

  width: 485px;
  padding-top: 50px;
  padding-right: 75px;
}

.company::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.company h2 {
  margin: 0;
  margin-bottom: 44px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;
}

.company p:first-of-type {
  margin-bottom: 30px;
}

.company p:last-of-type {
  margin-bottom: 65px;
}

.transport-list {
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.transport-list-item {
  position: relative;

  padding-left: 37px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0;
}

.transport-list-item::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 4px;
  height: 4px;
  margin-top: -2px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.button-company {
  display: block;
  width: 260px;
}


/* Оформление секции контакты */
.contacts {
  position: relative;

  width: 560px;
  padding-top: 50px;
}

.contacts::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 44px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.010em;
  color: #000000;
}

.contacts p {
  margin-bottom: 40px;
}

.contacts .map-link {
  display: block;
  margin-bottom: 65px;
}

.button-contacts {
  min-width: 260px;
  padding-left: 40px;
  padding-right: 40px;
}


/* Офотмление подвала */
.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.main-footer p {
  margin: 0;
}

.main-footer li,
.main-footer a {
  line-height: 15px;
}

.main-footer .container{
  width: 1160px;
  padding: 65px 20px;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.main-footer-logo img:hover,
.main-footer-logo img:focus {
  opacity: 0.6;
}

.main-footer-logo img:active {
  opacity: 0.3;
}

.footer-user-nav-list {
  display: flex;
  align-items: center;
}

.user-link svg,
.user-link path {
  fill: #ffc600;
}

.main-footer .user-nav-item {
  margin-left: 40px;
}

.contact-nav {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
}

.main-footer .footer-site-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 430px;
  margin-right: auto;
}

.contact-nav .address {
  margin-right: 166px;
}

.site-nav-item:first-child a {
  padding: 0;
  background: none;
}

.main-footer-bottom {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.footer-rectangle {
  display: block;
  width: 80px;
  height: 7px;
  margin-right: 430px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 141px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.social-button {
  width: 32px;
  height: 32px;

  background-color: #464646;
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6
}

.social-button:active {
  opacity: 0.1;
}

.footer-user-nav-list a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
}

.footer-user-nav-list a:hover,
.footer-user-nav-list a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-nav-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-link,
.address {
  color: #ffffff;
  letter-spacing: 0;
}

.footer-site-nav a {
  color: rgba(255, 255, 255, 1);
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.htmlacademy img:focus,
.htmlacademy img:hover {
  opacity: 0.6;
}

.htmlacademy img:active {
  opacity: 0.3;
}


/* Оформление контейнера на внутренней странице */
.container-inner-page {
  width: 1100px;
  padding-left: 80px;
}


/* Оформление шапки каталога и фильтра */
.catalog-column .catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-catalog .catalog-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.header-catalog {
  min-height: 70px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.16) 0,
                                              rgba(0, 0, 0, 0.16) 33.3%,
                                              rgba(0, 0, 0, 0.08) 33.3%,
                                              rgba(0, 0, 0, 0.08) 100%);
}



/* Оформление шапки на внутренней странице */
.main-header-inner-page .main-header {
  margin-bottom: 34px;
}

.main-header-inner-page .user-nav-item:nth-child(2) {
  margin-right: 12px;
}

.main-header-inner-page .user-nav-item:nth-child(3) {
  margin-right: 65px;
  opacity: 0.3;
}

.main-header-inner-page .user-nav-item:nth-child(4) {
  margin-right: 38px;
}

.main-header-inner-page .user-nav-item:nth-child(3)::before {
  background: none;
}


/* Оформление заголовка на внутренней странице */
.main-header-inner-page {
  margin-bottom: 35px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 18px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.010em;
}

/* Оформление хлебных крошек */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  margin-right: 40px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current a {
  color: rgba(0, 0, 0, 1);
}


/* Оформление колонок каталога */
.catalog-column {
  display: flex;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.08) 0,
                                              rgba(0, 0, 0, 0.08) 33.3%,
                                                      transparent 33.3%,
                                                      transparent 100%);
}


/* Оформление секции фильтры */

.filters {
  padding-top: 70px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-bottom: 70px;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters legend {
  position: relative;

  margin-bottom: 35px;
  padding-top: 15px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.010em;
}

.filters legend::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.header-catalog h2 {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-title-wrapper {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  max-width: 240px;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 40px;
}

.filter-input:hover + label,
.filter-input:focus + label {

}

.filter-input:active + label {

}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filter-option {

}

.filter-list-checkbox {
  margin-bottom: 40px;
}

.filter-button {
  width: 200px;
  margin-top: 40px;
}



/* Оформление секции каталога */
.catalog {
  width: 760px;
  padding-top: 70px;
  z-index: 9999;
}

.catalog h2 {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-sort {
  display: flex;
  align-items: center;
  flex-basis: 760px;
}

.sort-title {
  margin-right: 50px;
}

.sort-list {
  display: flex;
  align-items: center;
}

.sort-list:first-of-type {
  margin-right: auto;
}

.sort-list:first-of-type .sort-item {
  margin-right: 30px;
}

.sort-list:last-of-type .sort-item:first-child {
  margin-right: 20px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 45px;
}

.catalog-item:last-of-type {
  margin-bottom: 35px;
}

.card-product {
  position: relative;
}

.catalog-item-hover {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  align-items: center;

  width: 360px;
  height: 380px;
  padding-top: 170px;

  background-color: rgba(238, 238, 238, 0.7);
}

.card-product-img:hover > .catalog-item-hover {
  display: flex;
}

.catalog-item-hover .button-cart {
  margin-bottom: 10px;
}

.catalog-item img {
  display: block;
  margin-bottom: 32px;
}

.catalog .card-product-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-list h3 {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.010em;
  font-weight: 800;
  color: #000000;
}

.sort-list,
.catalog-list,
.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:focus,
.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list span {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.010em;
  font-weight: 300;
}

.catalog .button-cart {
  width: 200px;
}

.button-compare {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.010em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.button-compare:focus,
.button-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 75px;

  background-color: rgba(0, 0, 0, 0.1);
}

.pagination-list a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-number {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-button {
  display: block;
  padding: 23px 30px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-item:not(:first-child):not(:last-child) {
  margin: 0 15px;
}

.pagination-list a:focus,
.pagination-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-button {
  color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-button:focus,
.pagination-list .pagination-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.pagination-list .pagination-button:active {
  color: rgba(0, 0, 0, 0.2);
}



/* Оформление футера на странице каталога */
.inner-page-footer .container {
  width: 1160px;
  padding: 65px 20px;
}

.inner-page-footer .user-nav-item:nth-child(1) {
  margin-right: 10px;
}

.inner-page-footer .user-nav-item:nth-child(2) {
  margin: 0;
  margin-right: 43px;

  opacity: 0.3;
}

.inner-page-footer .user-nav-item:nth-child(3) {
  margin: 0;
  margin-right: 35px;

  opacity: 1;
}

.inner-page-footer .user-nav-item:nth-child(4) {
  margin: 0;
}


/* Оформление модального окна с формой */
.modal-contact {
  color: #000000;

  background-color: #ffffff;
}

.contact-label {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0;
}

.contact-item .contact-input {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.contact-item .contact-input:hover {
  background-color: rgba(229, 229, 229, 1);
}

.contact-item .contact-input:focus {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #f0c52e;
}
